@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


body {
    color: aliceblue;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* CABEÇALHO */

header {
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(7, 30, 6);
}

a {
    text-decoration: none;
}

a:hover {
    text-shadow: brown 0 0 10px;
}

.logo {
    color: rgb(255, 255, 255);
    text-shadow: rgb(5, 5, 5) 0 0 10px;
    font-family: "Permanent Marker";
}

.low {
    color: rgb(255, 255, 255);
    text-shadow: rgb(5, 5, 5) 0 0 10px;
    font-family: "Permanent Marker";
    display: none;
}


/* CABEÇALHO */

/* CORPO */

.main {
    height: calc(100vh - 15vh);
    width: 100vw;
    display: flex;
    align-items: center;
    background-color: rgb(0, 26, 0);
}

/* CORPO */

.g {
    color: green;
}

/* LADO ESQUERDO */

.left {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: calc(100vh - 15vh);
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.texto {
    margin-bottom: 80px;
    margin-left: 80px;
    width: 30%;
    min-width: 200px;
    height: 20%;
}

.seta {
    margin-left: 80px;
    width: 30%;
    height: 20%;
}

/* LADO ESQUERDO */

/* LADO DIREITO */

.rigth {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: calc(100vh - 15vh);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}

.corpo {
    margin-left: 80px;
    width: 55%;
    height: 45%;
    filter: drop-shadow(0 0 20px rgba(32, 163, 113, 0.605));
}

iframe {
    width: 60%;
    height: 35%;
    margin-left: 60px;
    box-shadow: rgba(16, 227, 100, 0.504) 0 0 20px 0px;
}

/* LADO DIREITO */



.verde {
    color: green;
    text-shadow: green 0 0 10px;
}

@media only screen and (max-width: 900px) {
    .left {
        display: none;
    }

    .rigth {
        width: 100vw;
        align-items: center;
        justify-content: flex-start;
        padding: 0;
    }

    .corpo {
        margin: 50px 0 0;
        width: 50%;
        height: 30%;
        max-width: 187px;
        max-height: 170px;
    }

    iframe {
        margin-left: 0;
        height: 27%;
        width: 80%;
        max-width: 300px;
        max-height: 153px;
    }

    a {
        display: none;
    }

    .low {
        display: block;
    }

    header {
        justify-content: center;
    }

}